-#  This file is app/views/mass_data/new.html.haml

%h1 Create New Data View


%div{:id => 'center-parent'}
  = render "general/sidebar"

  %div{:class => 'card', :id => 'center'}
    %div{:id => 'content'}
      %p #{@message}
      
      %div{:class => 'directUpload'}
        %div= file_field_tag :xml_file, :class => 'form-item', :data => {:url => @s3_direct_post.url.to_s,
        :formData => @s3_direct_post.fields.to_json.html_safe }
        = form_for(@mass_datum, html: { class: "directUpload" }) do |f| 
          = f.submit 'Save and Next',:class => 'center-btn btn'

:javascript 
  s3_upload_file('#{@s3_direct_post.url}', #{@s3_direct_post.fields.to_json.html_safe});
