-# sidebar.html.haml using partial

%div{:class => 'card', :id => 'sidebar'}
  %div 
  = button_to 'Instructions', instructions_path, :class => 'btn', :method => :get
  %div
  = button_to 'Upload Data', new_mass_datum_path, :class => 'btn', :method => :get
  %div 
  = button_to 'Choose Parameters', new_mass_param_path, :class => 'btn', :method => :get
  %div 
  = button_to 'Review & Run', review_path, :class => 'btn', :method => :get
  %div 
  = button_to 'Finish', finish_index_path, :class => 'btn', :method => :get
