-#  This file is app/views/user_uploads/uploads.html.haml
-#  To disable buttons, :disabled => 'true'

%h1 Uploaded Files

%div{:id => 'center-parent'}
  %div{:class => 'card', :id => 'center_table'}
    %div{:id => 'content'}
      %table{width: "100%"}
        %thead
          %tr
            %th Data
            %th Params
            %th Results
            %th Submission Date
        %tbody
          - @results.each do |result|
          - data = result.get_mass_data()
          - params = result.get_mass_params()
            %tr
              %td= if data then link_to(data.get_title(), result.get_url(data.s3id)) else "Upload" end
              %td= if params then link_to(params.get_title(), result.get_url(params.s3id)) else "Upload" end
              %td
                = if !result.s3id then "Waiting..." else link_to(result.get_output1_title, result.get_url(result.s3id)) end
                %br
                = if result.s3id_2 then link_to(result.get_output2_title,result.get_url(result.s3id_2)) end
                %br
                = if result.s3id_3 then link_to(result.get_output3_title,result.get_url(result.s3id_3)) end

              %td= result.created_at()

