-# sidebar.html.haml as a partial
-# TODO: add code to decide whether disabled or not for each page
-# TODO: change paths to the already created Data/Param model as opposed to new

%div{:class => 'card', :id => 'sidebar'}
  %div 
  = button_to 'Instructions', root_path, :class => 'btn', :method => :get
  %div
  = button_to 'Data (XML)', new_mass_datum_path, :class => 'btn', :method => :get
  %div 
  = button_to 'Parameters (TXT)', new_mass_param_path, :class => 'btn', :method => :get
  %div 
  = button_to 'Review & Run', review_path, :class => 'btn', :method => :get
  %div 
  = button_to 'Finish', root_path, :class => 'btn', :method => :get
